<div class="container">
    <h1 class="text-center text-monospace mt-5">Admin panel</h1>
    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">General admins commands</h2>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addUser">Create new user</button>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addRole">Create new role</button>
    </div>

    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">View commands</h2>
        <a class="btn btn-block btn-info" href="/admin/logs?page=1">Logs</a>
        <hr>
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewUser">View all users</button>
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewRole">View all roles</button>
        <hr>
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewBlockedIps">View all blocked IPs</button>
    </div>

    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">Modification commands</h2>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#renameName">Rename server name</button>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#changeLogo">Change server logo</button>
        <hr>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#modifyUser">Modify user</button>
        <hr>
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#removeUser">Remove user</button>
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#removeRole">Remove role</button>
    </div>

    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">Security commands</h2>
        <% if (general.settings[0].autoBanOnFail) { %>
            <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#disableAutoBan">Disable AutoBan</button>
        <% } else { %>
            <button class="btn btn-block btn-success" data-toggle="modal" data-target="#enableAutoBan">Enable AutoBan</button>
        <% } %> 
        <hr>
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#blockIp">Block IP</button>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#unblockIp">Unblock IP</button>
    </div>
</div>

<%- include("./modals/general/new-role")  %>
<%- include("./modals/general/new-user")  %>

<%- include("./modals/view/view-users")  %>
<%- include("./modals/view/view-role")  %>
<%- include("./modals/view/view-blocked-ips")  %>

<%- include("./modals/modifications/rename-name")  %>
<%- include("./modals/modifications/change-logo")  %>
<%- include("./modals/modifications/modify-user")  %>
<%- include("./modals/modifications/remove-role")  %>
<%- include("./modals/modifications/remove-user")  %>

<% if (general.settings[0].autoBanOnFail) { %>
    <%- include("./modals/security/disable-autoban") %>
<% } else { %>    
    <%- include("./modals/security/enable-autoban")  %>
<% } %> 
<%- include("./modals/security/block-ip")  %>
<%- include("./modals/security/unblock-ip")  %>