<div class="container">
    <h1 class="text-center text-monospace mt-5">Admin panel</h1>
    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">General admins commands</h2>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addUser">Create new user</button>
        <button class="btn btn-block btn-warning" data-toggle="modal" data-target="#addRole">Create new role</button>
    </div>

    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">View commands</h2>
        <a class="btn btn-block btn-info" href="/admin/logs?page=1">Logs</a>
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewUser">View all users</button>
        <button class="btn btn-block btn-info" data-toggle="modal" data-target="#viewRole">View all roles</button>
    </div>

    <div class="rounded bg-primary shadow p-2 mt-3">
        <h2 class="text-center">Modification commands</h2>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#renameName">Rename name</button>
        <button class="btn btn-block btn-success" data-toggle="modal" data-target="#changeLogo">Change logo</button>
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#removeUser">Remove user</button>
        <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#removeRole">Remove role</button>
    </div>
</div>

<%- include("./modals/general/new-role")  %>
<%- include("./modals/general/new-user")  %>

<%- include("./modals/view/view-users")  %>
<%- include("./modals/view/view-role")  %>

<%- include("./modals/modifications/rename-name")  %>
<%- include("./modals/modifications/change-logo")  %>
<%- include("./modals/modifications/remove-role")  %>
<%- include("./modals/modifications/remove-user")  %>