<div class="container">
    <h2 class="text-center mt-5"><%= _table.tableName %></h2>
    <div class="shadow p-3 rounded">
    <a href="/table/add/<%= _table._id %>" class="btn btn-primary">Create new data</a>
    <a href="/table/edit/table/<%= _table._id %>" class="btn btn-primary">Edit table</a>
    <button class="text-right btn btn-danger" data-toggle="modal" data-target="#removeTable">Remove table</button>
    <table class="table rounded shadow table-bordered table-striped">
        <div class="input-group-sm mt-4">
            <input id="searchTable" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        </div>
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <% _table.rows.forEach(t => { %>
                    <th scope="col"><%= t %></th>
                <% }) %>
            </tr>
            </thead>
        <tbody id="myTable">
            <% for( let i = 0; i < table.length; i++ ) { %>
                <tr>
                    <th><a style="color: rgb(133, 231, 133)" href="/table/edit/row/<%= table[i]._id %>">Edit</a> | <a href="#" style="color: rgb(235, 102, 102)" onClick="removeRow('<%= table[i]._id %>')" id="removeRow">Remove</a></th>
                    <% table[i].tableData.forEach(td => { %>
                        <td><%- td.valueS %></td>
                    <% }) %>
                </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <!-- Modal for remove table -->
    <div class="modal fade" id="removeTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to remove this table?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/table/remove/table/<%= _table._id %>" type="button" class="btn btn-danger">Submit</a>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal for remove row -->
    <div id="divRemoveModal"></div>
    <script>
        function removeRow(rowId) {
        document.querySelector("#divRemoveModal").innerHTML = `<div class="modal fade" id="removeRowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to remove this row?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/table/remove/row/${rowId}" type="button" class="btn btn-danger">Submit</a>
            </div>
        </div>
        </div>
    </div>`
        $(document).ready(function(){
            $("#removeRowModal").modal('show');
        });

        };
    </script>

    <script>
        $(document).ready(function(){
            $("#searchTable").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>