<div class="container">
    <button title="Remove all logs" 
    class="btn btn-warning" 
    onclick="removeLogs()"
    >Remove all logs</button>
    <table class="table table-bordered table-striped table-dark table-fixed">
        <div class="input-group-sm mt-4">
            <div class="text-center">
                <% if (typeof pages.previous != "undefined") { %>
                    <a class="btn btn-primary" href="/admin/logs?page=<%= pages.previous.page %>">Previous</a>
                <% } %> 
                <% if (typeof pages.next != "undefined") { %>
                    <a class="btn btn-primary" href="/admin/logs?page=<%= pages.next.page %>">Next</a>
                <% } %> 
            </div>
            <input id="searchTable" class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        </div>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Message</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
        </thead>
        <tbody id="myTable">
            <% let bigResult = pages.result.slice().reverse() %> 
            <% for( let i = 0; i < bigResult.length; i++ ) { %>
                <tr class="<% if (bigResult[i].type == 'warning') { %>
                    table-warning 
                <% } else if(bigResult[i].type == 'error') { %>
                    table-danger
                <% } else if(bigResult[i].type == 'debug') { %>
                    table-success
                <% } else if(bigResult[i].type == 'info') { %>
                    table-info
                <% } else if(bigResult[i].type == 'verbos') { %>
                    table-active
                <% } %> ">
                    <th scope="row"><%= i+1 %></th>
                    <td title="<%= bigResult[i].message %>" class="text-truncate" style="max-width: 700px;"><%= bigResult[i].message %></td>
                    <td><%= bigResult[i].type %></td>
                    <td><%= bigResult[i].createdAt.split(" ")[0] %></td>
                    <td><%= bigResult[i].createdAt.split(" ")[1] %></td>
                    </tr>
            <% } %>
        </tbody>
      </table>
</div>

<script>
    $(document).ready(function(){
        $("#searchTable").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div id="divRemoveLogs"></div>
<script>
    function removeLogs() {
        document.querySelector("#divRemoveLogs").innerHTML = `<div class="modal fade" id="removeLogs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="/admin/drop-logs?_csrf=<%= _csrf %>" method="post">
                <div class="modal-body">
                Are you sure you want to remove all logs?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>`;

        $(document).ready(function(){
            $("#removeLogs").modal('show');
        });

    };
</script>