<div class="container">
    <% let indexRole = general.roles.map(e => {return e.name}).indexOf(general.user.role) %> 
    <div class="text-right">
        <button 
            title="Create new map" 
            class="btn btn-warning" 
            data-toggle="modal" 
            data-target="#removeTable"
            <%= general.user.role === 'admin' || general.roles[indexRole].root || general.roles[indexRole].canCreate ? '' : 'disabled' %> 
        >
            <i class="fas fa-3x fa-folder-plus"></i>
        </button>
    </div>
    <div class="d-flex flex-wrap">
        <% if (maps.length > 0) { %>
            <% maps.forEach(map => { %>
                <div class="card shadow m-1" style="width: 12rem; background-color: rgba(224, 201, 97, 0.623);">
                    <a class="text-center" href="/explorer/map/<%= map._id %>"><i class="far fa-5x fa-folder pt-3"></i></a>
                    <div class="card-body">
                    <p title="<%= map.name %>" class="text-monospace card-text text-truncate">
                        <a href="/explorer/map/<%= map._id %>">
                            <%= map.name %>
                        </a>
                    </p>
                    <hr>
                    <a 
                    class="btn p-1 btn-success <%= map.readRoles.includes(general.user.role) || general.roles[indexRole].root ? '' : 'disabled' %> " 
                    href="/explorer/map/<%= map._id %>"
                    <%= map.readRoles.includes(general.user.role) || general.roles[indexRole].root ? '' : 'aria-disabled="true"' %>
                    >View</a>
                    <button 
                    class="btn p-1 btn-warning" 
                    <%= general.user.role === 'admin' || general.roles[indexRole].root ? '' : 'disabled' %> 
                    onclick="permissionsMap('<%= map.name %>', '<%= map._id %>', '<%= map.readRoles %>', '<%= map.writeRoles %>', '<%= general.user.role %>', '<%= general.roles.map(e => e.name) %>')"
                        >Edit</button>
                    <button
                    class="btn p-1 btn-danger"
                    <% if (general.user.role === 'admin' || general.roles[indexRole].root || map.readRoles.includes(general.user.role)) { %>
                        <% if (!general.roles[indexRole].canRemove) { %>
                            disabled
                        <% } %>
                    <% } else { %>
                        disabled
                    <% } %> 
                    onclick="removeMap('<%= map._id %>')">
                    Remove</button>
                    </div>
                </div>
            <% }) %>   
        <% } %>  
    </div>
</div>

<div id="divRemoveMap"></div>
<script>
    function removeMap(mapId) {
        document.querySelector("#divRemoveMap").innerHTML = `<div class="modal fade" id="removeMapId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARNING!!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form action="/explorer/map/${mapId}/remove?_csrf=<%= _csrf %>" method="post">
                <div class="modal-body">
                Are you sure you want to remove this map?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
        </div>
    </div>`;

        $(document).ready(function(){
            $("#removeMapId").modal('show');
        });

    };
</script>

<!-- Modal for permissions -->
<div id="divEditPerm"></div>
<script>
    function permissionsMap(mapName, mapId, mapRead, mapWrite, role, roles)
    {
        let readRoles = mapRead.split(",");
        let writeRoles = mapWrite.split(",");
        roles = roles.split(",");
        let tbody = '';
        for (let i = 0; i < roles.length; i++)
        {
            tbody += `
            <tr>
                <th scope="row">${roles[i]}</th>
                <td><input type="checkbox" name="${roles[i]}Write" id="write" ${writeRoles.includes(roles[i]) ? 'checked' : ''}></td>
                <td><input type="checkbox" name="${roles[i]}Read"  id="read" ${readRoles.includes(roles[i]) ? 'checked' : ''}></td>
            </tr>
            `

            if(i+1 == roles.length)
            {
                document.querySelector("#divEditPerm").innerHTML = `
                <div class="modal fade" id="eidtPerm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Permission for map: ${mapName}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <form action="/explorer/map/${mapId}/edit/permission?_csrf=<%= _csrf %>" method="POST">
                                    <div class="modal-body">
                                        <table class="table table-striped table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Role</th>
                                                    <th scope="col">Write</th>
                                                    <th scope="col">Read</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                ${tbody}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-warning">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>`

                $(document).ready(function(){
                    $("#eidtPerm").modal('show');
                });
            }
        }



    }
</script>

<!-- Modal for remove table -->
<div class="modal fade" id="removeTable" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form action="/explorer/create/map?_csrf=<%= _csrf %>" method="post">
            <div class="modal-body">
                <label for="name">Map name</label>
                <input name="name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
    </div>
</div>